[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
pyyaml = "*"
matplotlib = "*"
python-dateutil = "*"
python-nubia = "*"

[requires]
python_version = "3.6"
